<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
{% load static %} {% block content %}

    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/css.css' %}">
    </head>

    <body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center ">
                <div id="login-column" class="w-50 p-3 col-md-6 ">
                    <div id="login-box" class=" d-inline-block col-md-10">
                        <div id="login-form" class="form " action="" method="post">
                            <h3 class="text-center text-info">Registration</h3>

                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endif %}

                            <div class="form">
                                <div class="center-block text-center">
                                    <small id="emailHelp" class="form-text text-muted">Remember that the password should be at least 8 characters long, with upper and lower case letters, numbers and special characters.</small>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="d-flex justify-content-center">
                                            <p>
                                                {{ field }}
                                            </p>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            {% for error in field.errors %}
                                                <p class="text-center text-danger">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <div class="center-block text-center">
                                    </div>
                                    <div class="center-block text-center">

                                        <button class="btn btn-info btn-md " type="submit" value="login"
                                                id="register_button">Register
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div id="login-link" class=" text-right mx-auto">
                                <a href="/login" class="text-info">Login here</a>
                            </div>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>

    <script>
        $(document).ready(function () {
            $("#id_password2").attr("placeholder", "Confirm the password").val("").focus().blur();
            $("#id_password1").attr("placeholder", "Password").val("").focus().blur();
        })
    </script>

{% endblock %}