{% load static %}

<style>
    .x{
        font-size: 24px;
        color: aliceblue;
        margin-right: 26px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="x">Hello, {{ request.user.first_name }}!</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_transaction' %}">Create transaction</a>
            </li>
        </ul>
    </div>
    <span ><a class="x" href="{% url 'logout' %}">Logout</a></span>
</nav>
